<tr>
<td align="left"  valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:18px;color:#000000;padding-bottom:8px;">&bull;&nbsp;</td>
<td align="left"  valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:18px;color:#000000;padding-bottom:8px;">[[text]]</td>
</tr>
