                <tr>
                  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size:8px;line-height:10px;color:#4d4f53;" class="marker">[[marker]]&nbsp;</td>
                  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:14px;color:#4d4f53;padding-bottom:5px;">[[copy]]</td>
                </tr>