          <tr id="qui">
            <td style="background-color:#c9e091;">
              <table cellpadding="0" cellspacing="0" width="520" style="width:520px;margin-left:0;margin-right:0;"  class="flowTable">
                <tr>
                  <td style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;" class="mcbox">
                    <table cellpadding="0" cellspacing="0" width="480" style="width:480px;margin-left:auto;margin-right:auto;" align="center" class="flowTable">
                      <tr>
                        <td width="[[column]]" style="width:[[column]]px;" valign="top"><img src="img/it/qui57.png" alt="[[alt]]" style="display:block;border-style:none;"></td>
                        <td valign="top">
                          <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;margin-left:0;margin-right:0;">
                            <tr>
                              <td align="left"  valign="top" style="padding-left:20px;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:20px;color:#ffffff;font-weight:bold;padding-bottom:10px;">[[header]]</td>
                            </tr>
                            <tr>
                              <td align="left"  valign="top" style="padding-left:20px;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:18px;color:#000000;">[[copy]]</td>
                            </tr>
                            <tr>
                              <td align="left"  valign="top" style="padding-left:20px;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:18px;color:#ffffff;"><a href="#[[link]]" target="_blank" style="color:#ffffff;text-decoration:underline;">[[linktext]]</a></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="height:29px;font-size:29px;line-height:29px;">&nbsp;</td>
          </tr>
