          <tr id="threesteps">
            <td style="background-color:#cbcccc;">
              <table cellpadding="0" cellspacing="0" width="520" style="width:520px;margin-left:0;margin-right:0;"  class="flowTable">

                <tr class="mhide">
                  <td style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:7px;" class="mcbox">
                    <table cellpadding="0" cellspacing="0" width="493" style="width:493px;margin-left:auto;margin-right:auto;" align="center" class="flowTable">
                      <tr>
                        <td width="27" style="width:27px;" valign="top"><img src="img/tick.png" alt="[[alt]]" style="display:block;border-style:none;"></td>

                        <!--
                        <td width="77" style="width:77px;" valign="top"><img src="img/tick.png" alt="[[alt]]" style="display:block;border-style:none;width:100%;height:auto;"></td>
                      -->

                        <td valign="top">
                          <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;margin-left:0;margin-right:0;">
                            <tr>
                              <td align="left"  valign="top" style="padding-left:10px;padding-bottom:10px;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:20px;color:#ffffff;font-weight:bold;">[[header]]</td>
                            </tr>
                            <!--
                            <tr>
                              <td align="left"  valign="top" style="padding-left:10px;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:18px;color:#000000;">[[threesteps-copy]]</td>
                            </tr>
                            -->
                            <tr>
                              <td align="left"  valign="top" style="padding-left:10px;">[[items]]
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <!--[if !mso]><!-->
                <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden;" class="mshow">
                  <td style="padding-top:20px;padding-bottom:20px;" class="mcbox">

                    <table cellpadding="0" cellspacing="0" width="520" style="width:520px;margin-left:0;margin-right:0;"  class="flowTable">
                      <tr>
                        <td style="padding-right:20px;padding-left:7px;">
                          <table cellpadding="0" cellspacing="0" width="493" style="width:493px;margin-left:auto;margin-right:auto;" align="center" class="flowTable">
                            <tr>
                              <!--
                              <td width="27" style="width:27px;" valign="top"><img src="img/tick.png" alt="[[alt]]" style="display:block;border-style:none;"></td>
                              -->

                              <td width="77" style="width:77px;" valign="top"><img src="img/tick.png" alt="[[alt]]" style="display:block;border-style:none;width:100%;height:auto;"></td>

                              <td valign="top">
                                <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;margin-left:0;margin-right:0;">
                                  <tr>
                                    <td align="left"  valign="top" style="padding-left:10px;padding-bottom:10px;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:20px;color:#ffffff;font-weight:bold;">[[header]]</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-right:20px;padding-top:10px;padding-left:20px;">
                          <table cellpadding="0" cellspacing="0" width="480" style="width:480px;margin-left:auto;margin-right:auto;" align="center" class="flowTable">
                            <tr>
                              <td valign="top">
                                <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;margin-left:0;margin-right:0;">
                                  <tr>
                                    <td align="left"  valign="top" style="padding-left:0px;">[[items]]
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <!--<![endif]-->

              </table>
            </td>
          </tr>
          <tr>
            <td style="height:20px;font-size:20px;line-height:20px;">&nbsp;</td>
          </tr>

