    <tr id="anyquestions">
      <td style="padding-left:40px;padding-right:40px; padding-top:30px;padding-bottom:30px;background-color:#1f2c5f;" class="mgutters">
        <!-- 20 / 560 / 20 START -->
        <table cellpadding="0" cellspacing="0" width="520" style="width:520px;margin-left:auto;margin-right:auto;" align="center" class="flowTable">
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" width="100%" style="width:100%;margin-left:0;margin-right:0;">
                <tr>
                  <td align="left"  valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size:21px;line-height:26px;color:#ffffff;font-weight:bold;padding-bottom:10px;">[[header]]</td>
                </tr>
                <tr>
                  <td align="left"  valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size:21px;line-height:26px;color:#88d3e1;">[[text]]</td>
                </tr>
              </table>
            </td>
            <td width="190" style="190px;" align="right" valign="bottom" class="mhide">
              <table cellpadding="0" cellspacing="0" style="margin-left:auto;margin-right:0;">
                <tr>
                  <td width="4" style="width:4px;background-color:#0db5c4;"><img alt="(" src="img/bluebuttonleft2.png" style="display:block;border-style:none;"></td>
                  <td style="padding-left:10px;padding-right:10px;background-color:#0db5c4;font-family:Arial, Helvetica, sans-serif;font-size:14px;"><a href="#[[link]]" target="_blank" style="color:#ffffff;text-decoration:none;display:block;height:32px;line-height:32px;text-align:center;">[[label]]</a></td>
                  <td width="4" style="width:4px;background-color:#0db5c4;"><img alt=")" src="img/bluebuttonright2.png" style="display:block;border-style:none;"></td>
              </table>
            </td>
          </tr>

          <!--[if !mso]><!-->
          <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden;" class="mshow">
            <td style="padding-top:20px;">
              <table cellpadding="0" cellspacing="0" style="margin-left:auto;margin-right:0;width:100%;" width="100%">
                <tr>
                  <td width="4" style="width:4px;"><img alt="(" src="img/bluebuttonleft.png" style="display:block;border-style:none;"></td>
                  <td style="padding-left:10px;padding-right:10px;background-color:#0db5c4;font-family:Arial, Helvetica, sans-serif;font-size:14px;"><a href="#[[link]]" target="_blank" style="color:#ffffff;text-decoration:none;display:block;height:32px;line-height:32px;text-align:center;">[[label]]</a></td>
                  <td width="4" style="width:4px;"><img alt=")" src="img/bluebuttonright.png" style="display:block;border-style:none;"></td>
              </table>
            </td>
          </tr>
          <!--<![endif]-->

        </table>
        <!-- 20 / 560 / 20 END -->
      </td>
    </tr>
