    <!-- footer -->
    <tr>
      <td style="padding-left:40px;padding-right:40px; padding-top:30px;padding-bottom:30px;" class="mgutters">
        <!-- 20 / 560 / 20 START -->
        <table cellpadding="0" cellspacing="0" width="520" style="width:520px;margin-left:auto;margin-right:auto;" align="center" class="flowTable">

          <tr class="mhide">
            <td style="padding-bottom:30px;">
              <table cellpadding="0" cellspacing="0" width="520" style="width:520px;margin-left:auto;margin-right:auto;" align="center" class="flowTable">
                <tr>
                  <td width="173" style="width:173px;font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:14px;color:#4d4f53;" align="center"><a href="#[[flink1-link]]" target="_blank" style="color:#4d4f53;text-decoration:none;">[[flink1-text]]</a></td>
                  <td width="1" style="width:1px;background-color:#000000;" class="mhide"></td>
                  <td width="171" style="width:171px;font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:14px;color:#4d4f53;" align="center"><a href="#[[flink2-link]]" target="_blank" style="color:#4d4f53;text-decoration:none;">[[flink2-text]]</a></td>
                  <td width="1" style="width:1px;background-color:#000000;" class="mhide"></td>
                  <td width="173" style="width:173px;font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:14px;color:#4d4f53;" align="center">[[flink3-text]]</td>
                </tr>
              </table>
            </td>
          </tr>

          <!--[if !mso]><!-->
          <tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden;" class="mshow">
            <td style="padding-bottom:30px;">
              <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:0;margin-right:0;width:100%;min-width:100%;" align="center">
                <tr>
                  <td style="font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:14px;color:#4d4f53;" class="mclink" align="center"><a href="#[[flink1-link]]" target="_blank" style="color:#4d4f53;text-decoration:none;">[[flink1-text]]</a></td>
                </tr>
                <tr>
                  
                  <td style="font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:14px;color:#4d4f53;" class="mclink" align="center"><a href="#[[flink2-link]]" target="_blank" style="color:#4d4f53;text-decoration:none;">[[flink2-text]]</a></td>
                </tr>
                <tr>
                  <td style="font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:14px;color:#4d4f53;" class="mclink" align="center">[[flink3-text]]</td>
                </tr>
              </table>
            </td>
          </tr>
          <!--<![endif]-->

          <tr>
            <td style="height:1px;font-size:1px;line-height:1px;background-color:#000000;">&nbsp;</td>
          </tr>
          <tr>
            <td style="padding-top:30px;">
              <table cellpadding="0" cellspacing="0" width="520" style="width:520px;margin-left:auto;margin-right:auto;" align="center" class="flowTable">
                <tr>
                  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:14px;color:#4d4f53;">&nbsp;</td>
                  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:14px;color:#4d4f53;font-weight:bold;padding-bottom:5px;">[[terms-header]]</td>
                </tr>
                [[terms-items]]
              </table>
            </td>
          </tr>
        </table>
        <!-- 20 / 560 / 20 END -->
      </td>
    </tr>
