          <tr>
            <td align="center" class="yes" style="padding-top:24px;padding-bottom:24px;"><img alt="[[alt]]" src="[[img]]" style="display:block;border-style:none;margin-left:auto;margin-right:auto;"></td>
          </tr>
