          <tr class="mhide">
          	<td>
          		<table cellpadding="0" cellspacing="0" style="margin-left:0;margin-right:0;width:100%">
					<tr>
						<td align="left" style="padding-right:10px;font-family: Arial, Helvetica, sans-serif; color:#000000;font-size:14px;line-height:19px;" class="ptsans">[[firstline]]<br><br></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td align="left" style="padding-right:10px;font-family: Arial, Helvetica, sans-serif; color:#000000;font-size:14px;line-height:19px;[[bottommargin]]" class="ptsans">[[text]]<br><br>[[signoff]]</td>
						<td align="right" width="[[imgwidth]]" style="width:[[imgwidth]]px;" valign="top"><img alt="[[alt]]" src="[[image]]" style="display:block;border-style:none;margin-left:auto;margin-right:0;"></td>
					</tr> 
          		</table>
          	</td>
          </tr>

		<!--[if !mso]><!-->
		<tr style="display:none; font-size:0px; max-height:0px; height:0px; float:left; overflow:hidden;" class="mshow">
			<td>
				<table cellpadding="0" cellspacing="0" style="margin-left:0;margin-right:0;width:100%">
					<tr>
						<td align="left" style="font-family: Arial, Helvetica, sans-serif; color:#000000;font-size:14px;line-height:19px;" class="ptsans">[[firstline]]<br><br></td>
					</tr>
					<tr>
						<td align="left" style="font-family: Arial, Helvetica, sans-serif; color:#000000;font-size:14px;line-height:19px;" class="ptsans">[[text]]</td>
					</tr> 
					<tr>
						<td align="center" style="padding-top:20px;padding-bottom:20px;"><img alt="[[alt]]" src="[[image]]" style="display:block;border-style:none;margin-left:auto;margin-right:auto;" ></td>
					</tr>
					<tr>
						<td align="left" style="font-family: Arial, Helvetica, sans-serif; color:#000000;font-size:14px;line-height:19px;" class="ptsans">[[signoff]]</td>
					</tr> 
				</table>
			</td>
		</tr>
		<!--<![endif]-->
