          <tr>
            <td align="left"><img alt="Werner Decker" src="img/werner.png" style="display:block;border-style:none;margin-left:0;margin-right:auto;"></td>
          </tr> 

          <tr>
            <td align="left" style="font-family: Arial, Helvetica, sans-serif; color:#000000;font-size:14px;line-height:19px;padding-bottom:19px;" class="ptsans">[[text]]</td>
          </tr> 
