          <tr>
            <td align="center" style="font-family: Arial, Helvetica, sans-serif; color:#009bbb;font-weight:bold;font-size:28px;line-height:32px;" class="ptsans">[[text]]</td>
          </tr>
