          <tr>
            <td align="left" style="padding-top:19px;padding-bottom:19px;">
              <table cellpadding="0" cellspacing="0" style="margin-left:0;margin-right:auto;" class="flowTable">
                <tr>
                  <td width="4" style="width:4px;background-color:#0db5c4;"><img alt="(" src="img/bluebuttonleft3.png" style="display:block;border-style:none;"></td>
                  <td style="padding-left:10px;padding-right:10px;background-color:#0db5c4;font-family:Arial, Helvetica, sans-serif;font-size:14px;"><a href="#[[link]]" target="_blank" style="color:#ffffff;text-decoration:none;display:block;height:32px;line-height:32px;text-align:center;">[[label]]</a></td>
                  <td width="4" style="width:4px;background-color:#0db5c4;"><img alt=")" src="img/bluebuttonright3.png" style="display:block;border-style:none;"></td>
              </table>
            </td>
          </tr>
