          <tr>
          	<td>
          		<table cellpadding="0" cellspacing="0" style="margin-left:0;margin-right:0;width:100%">
					<tr>
						<td align="left" style="padding-right:10px;font-family: Arial, Helvetica, sans-serif; color:#000000;font-size:14px;line-height:19px;[[bottommargin]]" class="ptsans">[[firstline]]<br><br></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td align="left" style="padding-right:10px;font-family: Arial, Helvetica, sans-serif; color:#000000;font-size:14px;line-height:19px;[[bottommargin]]" class="ptsans">[[text]]</td>
						<td width="77" style="width:77px;" valign="top"><img alt="[[alt]]" src="[[image]]" style="display:block;border-style:none;" ></td>
					</tr> 
          		</table>
          	</td>
          </tr>
